<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "TestSuite" parallel="none">

    <test name="ChromeTestCases">

        <parameter name="browser" value="chrome"/>

        <classes>
            <class name="Search"/>
            <class name="Tours"/>

        </classes>

    </test>

    <test name="FirefoxTestCases">

        <parameter name="browser" value="firefox"/>

        <classes>
            <class name="Search"/>
            <class name="Tours"/>

        </classes>

    </test>


</suite>