<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "TestSuite" parallel="none">


    <test name="ChromeTestCases">

        <parameter name="browser" value="chrome"/>

        <groups>
            <run>
                <include name="admin"></include>
                <exclude name="user"></exclude>
                <exclude name="ie"></exclude>
            </run>
        </groups>

        <classes>
            <class name="Search"/>
            <class name="Tours"/>

        </classes>

    </test>

    <test name="FirefoxTestCases">

        <parameter name="browser" value="firefox"/>

        <classes>
            <class name="Search"/>
            <class name="Tours"/>

        </classes>

    </test>


</suite>